{% if page.comments %}
<a name="comments"></a>
<h4>Comments</h4>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = "http://spanishgum.github.io{{ page.url }}";
            this.page.identifier = "{{ page.id }}";
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'http://spanishgum-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//spanishgum-github-io.disqus.com/count.js" async></script>
{% endif %}

