{% if site.twitter %}
    <a href="https://www.github.com/{{ site.github.repository_name }}"><i class="fa fa-github"></i></a>
{% endif %}
{% if site.linkedin %}
    <a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
{% endif %}
{% if site.google %}
    <a href="https://plus.google.com/{{ site.google }}"><i class="fa fa-google-plus"></i></a>
{% endif %}
{% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>
{% endif %}
{% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if site.reddit %}
    <a href="https://www.reddit.com/u/{{ site.reddit }}"><i class="fa fa-reddit"></i></a>
{% endif %}
{% if site.reddit %}
    <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
{% endif %}
{% if site.ycombinator %}
    <a href="https://news.ycombinator.com/user?id={{ site.ycombinator }}"><i class="fa fa-ycombinator"></i></a>
{% endif %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

