circle.node {
    stroke: #fff;
    stroke-width: 0.5px;
}

line.link {
    stroke: #999;
    stroke-opacity: .6;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 12px;
    background-color: black;
    border-radius: 10px;
}



div.tooltip {   
    position: absolute;
    text-align: center;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip h3 {
    font-size: 12px;
}

.infobox {
    position: relative;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.controls {
    border-bottom: solid 1px black;
    padding: 1em 5%;
    text-align: center;
}

.controls label {
    display: inline-block;
    margin: 0.5em 1em;
}

span[id $= "Value"] {
    display: inline-block;
    width: 3em;
}

svg {
    border: solid 1px black;
    display: block;
    margin: 1em auto;
    max-width: 100%;
}
