<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/graph.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    </head>

    <body>

        <header>
            <center>
            <h1>
            <a href={{ site.url }}>spanishgum</a>
            </h1>
            </center>
        </header>

        <div class="container">
            <h3>{{ page.title }}</h3>   
            <h5>{{ page.date }}</h5>   
            <section id="main_content">
                {{ content }}
            </section>
        </div>

        {% if page.comments %}
        <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_config = function () {
                    this.page.url = "{{ page.url }}";
                    this.page.identifier = "{{ page.id }}";
                var disqus_shortname = 'spanishgum-github-io';
                var disqus_identifier = "{{ page.url }}";
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.setAttribute('data-timestamp', +new Date());
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.head || document.body).appendChild(dsq);
                })();
            </script>
            <noscript>Enable JS to see <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}


        <footer>
        <ul>
           {% if site.twitter %}
           <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a></li>
           {% endif %}
           {% if site.linkedin %}
           <li><a href="https://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
           {% endif %}
           {% if site.google %}
           <li><a href="https://plus.google.com/{{ site.google }}"><i class="fa fa-google-plus"></i> Google+</a></li>
           {% endif %}
           {% if site.facebook %}
           <li><a href="https://www.facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i> Facebook</a></li>
           {% endif %}
        </ul>
        </footer>

<!--        <script id="dsq-count-scr" src="//spanishgum-github-io.disqus.com/count.js" async></script> -->
    </body>
</html>
