<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/graph.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>{{ site.title | default: site.github.repository_name }}</title>
        {% include mathjax.html %}
        {% include google_analytics.html %}
        {% for js in site.jsheadarr %}
            <script type="text/javascript">
            {% include {{ js }} %}
            </script>
        {% endfor %}
    </head>

    <body>

        {% include header.html %}

        <div class="container">
            <h2>{{ page.title }}</h2> 
            <h6>
                <span class="mr1 nowrap">
                    <i class="fa fa-calendar"></i>
                    {{ page.date }}
                </span>
                {% if page.comments %}
                <span class="mr1 nowrap">
                    <i class="fa fa-comments"></i>
                    <a class="disqus-comment-count" href="#comments" data-disqus-identifier="{{ page.id }}">comments</a>
                </span>
                {% endif %}
                <span class="mr1 nowrap">
                    <i class="fa fa-clock-o"></i>
                    {% include read_time.html %} 
                </span>
                <span class="mr1 nowrap">
                    <i class="fa fa-tags"></i>
                    {{ page.tags | join: ' ' }}
                </span>
            </h6>
            <section id="main_content">
                {{ content }}
            </section>
        </div>

    {% include share.html %}
    {% include disqus.html %}
    {% for js in site.jsfootarr %}
        <script type="text/javascript">
        {% include {{ js }} %}
        </script>
    {% endfor %}

    </body>
</html>
